
@{
    ViewBag.Title = "Index";
}

@using PROYECTOFINAL.Models
@model ventamodel

<h2>Ventas</h2>

<div>
 <h4>Elija dia a listar ventas</h4>

   <form action="../Ventas/MostrarVentas" method="POST">

       <label for="Nombr">Ingrese dia</label>    
      <input class="form-control" type="date" value="Fecha" id="fecha" name="fecha" required />
       <br />
      <input class="btn btn-default" type="submit" value="Listar" name="Listar" />
   </form>
</div>
