
@{
    ViewBag.Title = "FinCaja";
}
@using PROYECTOFINAL.Models

<h2>FinCaja</h2>

<form action="../Fin" method="POST" name="formularioCaja" id="formularioCaja">


    

    <input type="submit" value="Cerrar caja" />

    <a href=".../FinCaja">Fin día</a>

</form>