
@{
    ViewBag.Title = "Inicio";
}

@model int

@if(Model>0)
{
    <h4>Caja inicializada</h4>
    <a href="/Home/index">Inicio</a>
}
else 
{
    <h4>La caja del dia de la fecha ya fue inicializada</h4>
    <a href="/Home/index">Inicio</a>
}