
@{
    ViewBag.Title = "Agregar";
}


@using PROYECTOFINAL.Models;
@using Libreria;
@model productomodel



<h2>Agregar</h2>

<form class="form-horizontal" action="../Productos/Agregar" method="POST">

    
    <div class="form-group">
        <label for="Nombr" class="col-sm-1 control-label TextoAgregar">Proveedor</label>
        <div class="col-sm-10">
            <select id="proveedor" name="proveedor" class="form-control" required>

                <option value="0"> Seleccionar</option>

                @foreach (proveedormodel item in proveedor.ListarProveedores())
            {
                    <option value="@item.idProveedores"> @item.nombre</option>
                }

            </select>
        </div>
            <br />
    </div>

    <div class="form-group">

        <label for="Nombr" class="col-sm-1 control-label TextoAgregar">Categoria</label>

        <div class="col-sm-10">
            <select id="categoria" name="categoria" class="form-control" required>

                <option value="0"> Seleccionar</option>

                @foreach (categoriamodel item in categoria.ListarCategorias(Convert.ToInt16(Session["idLocal"])))
            {
                    <option value="@item.id"> @item.nombre</option>
                }

            </select>
            <br />
            </div>

        </div>

    <div class="form-group">

        <label for="Nombr"  class="col-sm-1 control-label TextoAgregar">Nombre</label>

        <div class="col-sm-10">

            <input type="text" name="Nombre" id="Nombre" class="form-control" required />
            <br /> 

       </div>
    </div>

    <div class="form-group">

        <label for="Nombr" class="col-sm-1 control-label TextoAgregar">Precio</label>

        <div class="col-sm-10">
            <input type="number" name="precio" id="precio" class="form-control" required />
        </div>
    </div>
   
    <div class="form-group">

            <label for="Nombr" class="col-sm-1 control-label TextoAgregar">Stock actual</label>

        <div class="col-sm-10">
            <input type="number" name="stockActual" id="stockActual" value="0" class="form-control" disabled required />
        </div>
    </div>
            <br /   >
    <div class="form-group">
        <label for="Nombr" class="col-sm-1 control-label TextoAgregar">Stock minimo</label>
        <div class="col-sm-10">
            <input type="number" name="stockMinimo" id="stockMinimo" min="0" class="form-control" required />
        </div>
    </div>
            <br /><br />

            <input class="btn btn-default" type="submit" value="Agregar producto" />

</form>