
@{
    ViewBag.Title = "MostrarCajaMensual";
}
@using PROYECTOFINAL.Models
@model List<ventamodel>

@if(Model.Count>0){
<h2>Ventas mensuales</h2>
<h4> Listado de ventas del dia elegido</h4>

<div id="mostrar">
    <table class="table-bordered">
        <tr>
            <th>Monto Total</th>
            <th>Medio de Pago</th>
            <th>Fecha</th>
        </tr>

        @foreach (ventamodel item in Model)
        {
            <tr>
                <td>@item.MontoTotal</td>
                <td>@item.MedioPago</td>
                <td>@item.Fecha</td>
            </tr>

        }
        <tfoot>
    </table>
    <br>

</div>
}
else
{
    <h5>No se registraron ventas del mes elegido!</h5>
}

<a href="/Ventas/VentasMensual">Volver</a>