
@{
    ViewBag.Title = "ElegirMes";
}

<h2>Elija el mes a listar movimientos:</h2>

<form action="../Movimientos/MostrarMovMensuales" method="POST">

    @Html.Label("Ingrese mes: ")
    <!--<input type="number" value="Mes" id="Mes" name="Mes" required/>-->
    <select name="mes" id="mes">
        <option value="1">Enero</option>
        <option value="2">Febrero</option>
        <option value="3">Marzo</option>
        <option value="4">Abril</option>
        <option value="5">Mayo</option>
        <option value="6">Junio</option>
        <option value="7">Julio</option>
        <option value="8">Agosto</option>
        <option value="9">Septiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
    </select>

    @Html.Label("Ingrese año: ")
    <input class="Selects" type="number" value="Año" id="año" name="año" required min="2014" max="2020" />

    <input type="submit" value="Listar" name="Listar" />

    <a href="/Caja/Index">Volver</a>
</form>


