
@{
    ViewBag.Title = "ElegirDia";
}

<h2>Elegir dia</h2>



<h4>Elija dia a listar movimientos</h4>

<form action="../Movimientos/MostrarMovDia" method="POST">

    @Html.Label("Ingrese dia: ")
    <input class="Selects" type="date" value="Fecha" id="fecha" name="fecha" required />

    <input type="submit" value="Listar" name="Listar" />
</form>
