
@{
    ViewBag.Title = "ElegirDia";
}



<h3>Elija dia a listar movimientos</h3>

<div>
    <form action="../Movimientos/MostrarMovDia" method="POST">

        <label for="Nombr">Dia: </label>
        <input class="form-control" type="date" value="Fecha" id="fecha" name="fecha" required />
        <br />

        <input class="btn btn-default" type="submit" value="Listar" name="Listar" />
    </form>
</div>