
@using PROYECTOFINAL.Models
@model int

<script>
        
    function tarjeta(value) {
      
        if (value == 1)
        {
            document.getElementById("cuotas").disabled = true;
        }

        if (value == 2)
        {
            document.getElementById("cuotas").disabled = false;
            var monto = document.getElementById("monto").value;
            monto = @Model + (monto * 10 / 100);
            document.getElementById("monto").value=(monto);
        }
    }
</script>


   @if (Model > 0)
   {
    <div>
        <label>Tipo tarjeta</label>

        <select name="tipo" id="tipo" onchange="tarjeta(value)">
            <option value="0">Seleccionar</option>
            <option value="1">Debito</option>
            <option value="2">Credito</option>
        </select>
        <br />
        <label>Cantidad de cuotas</label>
        <input type="number" disabled name="cuotas" id="cuotas" min="1" max="12" />
        <br />
        <label>Tarjeta</label>
        <select name="marca" id="marca">
            <option value="1">Visa</option>
            <option value="2">Cabal</option>
            <option value="3">Naranja</option>
            <option value="4">Consumax</option>
        </select>
        <br />
        <label>Cupon</label>
        <input type="number" id="cupon" name="cupon" max="32767"/>
        <br />

        <label>Monto</label>
        <input type="number" contenteditable="false" id="monto" name="monto" value="@Model" />


    </div>

   }