
@{
    ViewBag.Title = "FaltaStock";
}
@using PROYECTOFINAL.Models
@model List<productomodel>
<h4>Falta stock del produtco elegido</h4>

<a href="/Home/Index">Volver</a>

<div id="listado">
    @if (Model != null)
    {
        <table>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
            </tr>
            @foreach (productomodel item in (Model))
            {
                <tr>
                    <td>@item.nombre</td>
                    <td>@item.precio</td>
                    <td>@item.cantidad</td>
                    <td>@item.subtotal</td>
                </tr>
            }

        </table>
    }

</div>
