body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.Selects
{
        width:200px;
        height: 25px;
       
}

.TextoInicio
{
        width:80px;
        height: 20px;
        color:darkcyan;  
             
}

#Agregar
{
    margin-left:0px;
    margin-top:10px;    
}

.tabla
{
    border: 2px;
    
}

.TextoAgregar
{
        width:100px;
        height: 25px;
        color:darkcyan;  
             
}

.mensaje 
{
    color:red;
}

.menu 
{
   /*list-style-type:none;*/ 
}