@using PROYECTOFINAL.Models
@model List<productomodel>

<div id="SelectProducto">

    <label id="Nombre" name="Nombre" class="TextoAgregar">Producto</label>

    <select name="prod" id="prod">

    <option value="0">Seleccionar</option>

    @foreach (productomodel item in Model)
    {
        <option value="@item.id"> @item.nombre</option>
    }

    </select>
    <br />

    <label id="Nombre" name="Nombre" class="TextoAgregar">Cantidad</label>
    <input type="number" id="cantidad" name="cantidad"  required min="1"/>
</div>