
@{
    ViewBag.Title = "Agreg";
}
@using PROYECTOFINAL.Models;
@using Libreria;
@model proveedormodel

<h2>Agregar</h2>

<form action="../Proveedores/Agregar" method="POST" name="formulario" id="formulario">


    <label for="prov" class="control-label TextoAgregar">Proveedor</label>
    <input type="text" name="nombre" id="nombre" class="form-control" >
    <br /> 

    
    <label for="stkActual" name="stkActual" class="control-label TextoAgregar">Telefono</label>
    <input type="number" name="telefono" id="telefono" class="form-control" >

    <br> <br>

    <input type="submit" class="btn btn-default" value="Agregar proveedor" />
</form>
