
@{
    ViewBag.Title = "Compra";
}
@using PROYECTOFINAL.Models
@using Libreria;
@model proveedormodel

<script>
    $(document).ready(function () {
        $("#proveedor2").change  (function (e) {
            $.get("/Proveedores/SelectProducto", { id: e.target.value }, function (response) {
                $("#divSelectProducto").html(response);
            });
        });
    });
</script>


<h2>Compra</h2>

<a class="" data-toggle="modal" data-target=".bootstrapmodal"> Agregar </a>
<div class="modal fade bootstrapmodal">
     <div class="modal-dialog">

         <div class="modal-content"> 

             <div class="modal-header">

                 <button data-dissmiss="modal" class="close">X</button>
                 <div class="modal-title">Hola</div> 
                                 
             </div>

             <div class="modal-body">
                 <form action="../Productos/Agregar" method="POST">

                     <label id="Nombre" name="Nombre" class="TextoAgregar">Nombre</label>
                     <input type="text" name="Nombre" id="Nombre" class="Selects" required />
                     <br /> <br />

                     <label id="Precio" name="Precio" class="TextoAgregar">Precio</label>
                     <input type="number" name="precio" id="precio" class="Selects" required />


                     <br /> <br />

                     <label id="categ" name="categ" class="TextoAgregar">Categoria</label>

                     <select id="categoria" name="categoria" class="Selects" required>

                         <option value="0"> Seleccionar</option>

                         @foreach (categoriamodel item in categoria.ListarCategorias())
                         {
                             <option value="@item.id"> @item.nombre</option>
                         }

                     </select>
                     <br />

                     <label id="stkActual" name="stkActual" class="TextoAgregar">Stock actual</label>
                     <input type="number" name="stockActual" id="stockActual" min="0" class="Selects" required />

                     <br />
                     <label id="stkmin" name="stkmin" class="TextoAgregar">Stock minimo</label>
                     <input type="number" name="stockMinimo" id="stockMinimo" min="0" class="Selects" required />

                     <br /><br />

                     <input type="submit" value="Agregar producto" />

                 </form>

             </div>
         </div>
     </div>
</div>

<br>

<form action="../Proveedores/Comprar" method="POST" name="formulario" id="formulario">


    <div id="proveedor2">
        <label id="Nombre" name="Nombre" class="TextoAgregar">Proveedor</label>

        <select id="prove" name="prove">
            @foreach (proveedormodel item in proveedor.ListarProveedores())
            {
                <option id="provee" value="@item.idProveedores">@item.nombre</option>
            }

        </select>
        <br>

    </div> 

    <div id="divSelectProducto"></div>


    
    <input type="submit" value="Cargar compra" />
</form>

