
@{
    ViewBag.Title = "Pago";
}

@using PROYECTOFINAL.Models
@using Libreria;


<h2>Pago</h2>

<form action="../Proveedores/Pagar" method="POST" name="formulario" id="formulario">



    <label for="prov" class="control-label">Proveedor</label>

    <select id="prove" class="form-control" name="prove">
        @foreach (proveedormodel item in proveedor.ListarProveedores())
        {
            <option id="provee" value="@item.idProveedores" >@item.nombre</option>
        }

    </select>
    <br>


    <label for="prov" class="control-label">Monto</label>
    <input type="number" name="monto" id="monto" class="form-control" />

    <br> <br>

    <input type="submit" class="btn btn-default" value="Cargar pago" />
</form>
