
@{
    ViewBag.Title = "PoductosXProvedor";
}

@using PROYECTOFINAL.Models.proveedor
@model List<proveedormodel>

<script>
    $(document).ready(function () {
        $("#proveedor2").change  (function (e) {
            $.get("/Proveedores/SelectProveedor", { cantidad: e.target.value }, function (response) {
                $("#divSelectProveedor").html(response);
            });
        });
    });
</script>

<h2>Productos por proveedor</h2>

<div id="proveedor2">
    <form method="post">
        <select name="proveedor" id="proveedor">
           <option value="0">Seleccionar</option>
             @foreach (proveedormodel item in Model)
            {
                <option value="@item.idProveedores">@item.nombre</option>
            }
        </select>
        
    </form>
</div>

<div id="divSelectProveedor"></div>