
@{
    ViewBag.Title = "CerrarCaja";
}

@using PROYECTOFINAL.Models
@model int


<h2>Cerrar caja</h2>
@if (Model >= 0)
{
    <label>La caja final del dia de la fecha: @Model</label>
}
else
{
    <label>La caja del dia de la fecha ya esta cerrada</label>
}

