
@{
    ViewBag.Title = "ListarMovimientosCaja";
}

@using PROYECTOFINAL.Models
@model List<movimientosmodel>

<h2>Listar movimientos de la caja</h2>

<form action="../Caja/MostrarMovDia" method="POST">

    <label for="categori">Dia: </label>
    <input class="form-control" type="date" value="Fecha" id="fecha" name="fecha" required />
    <br/>
    <input class="form-control" type="submit" value="Listar" name="Listar" />
</form>

