@using PROYECTOFINAL.Models
@model List<productomodel>

<select class="Selects" id="Producto" name="Producto" required onchange="CargarPrecio(this.value)"; >

    <option value="0">Seleccionar</option>
    
    @foreach (productomodel item in Model)
    {        
        <option name="prod" value="@item.id"> @item.nombre</option>
    }
    
</select>
<label id="prodi" name="prodi" class="mensaje"> </label>

