
@{
    ViewBag.Title = "MostrarMovDia";
}
@using PROYECTOFINAL.Models
@model List<movimientosmodel>

<h2>Movimientos del dia elegido</h2>
@if (Model.Count > 0)
{
    <div id="mostrar">
        <table class="table-bordered">
            <tr>
                <th>Concepto</th>
                <th>Salida/Entrada</th>
                <th>Monto total</th>
                <th>Fecha</th>

            </tr>

            @foreach (movimientosmodel item in Model)
            {
                <tr>
                    <td>@item.concepto</td>
                    <td>@item.entradaSalida</td>
                    <td>@item.Fecha</td>
                    <td>@item.monto</td>
                </tr>

              
            }           

        </table>
        <br>


    </div>
                }
                else
                {
                    <h5>No se registraron movimientos del dia elegido!</h5>
                }


<a href="/Home/Index">Inicio</a>


